customtkinter==4.5.10
Deprecated==1.2.13
easyocr==1.5.0
keyboard==0.13.5
numpy==1.23.1
opencv-python==4.5.4.60
opencv_python_headless==4.5.4.60
Pillow==9.2.0
PyAutoGUI==0.9.53
pyclick==0.0.2
PyGetWindow==0.0.9
pynput==1.7.6
pandas==1.5.0
